@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BizcomTaskMVC.Models.ViewModels.LoginUserVM;

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4 class="text-center">Login</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="example@email.com" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <input class="btn btn-success float-right" type="submit" value="Login" />
                        <a class="btn btn-secondary" asp-controller="Account" asp-action="Register">Back to Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}