@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BizcomTaskMVC.Models.ViewModels.RegisterUserVM;

@{
    ViewData["Title"] = "Register";

    IEnumerable<SelectListItem> roleList = new List<SelectListItem>
    {
        new() { Text = UserRoles.Student, Value = UserRoles.Student },
        new() { Text = UserRoles.Teacher, Value = UserRoles.Teacher }
    };
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4 class="text-center">Sign up for a new account</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" placeholder="John"/>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" placeholder="Doe" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="+998912345678" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="example@email.com"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="control-label"></label>
                        <select asp-for="Role" asp-items="roleList" class="form-select"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">BirthDate (dd.mm.yyyy)</label>
                        <input asp-for="BirthDate" class="form-select" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <input class="btn btn-success float-right" type="submit" value="Register" />
                        <a class="btn btn-secondary" asp-controller="Account" asp-action="Login">Back to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}