@model Subject

@{
    ViewData["Title"] = "Task9";
}

<p class="text-center">The subject for which the average student grade is the highest</p>

@if (Model == null)
{
    <p class="text-center">No data</p>
}
else
{
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p>Name: @Model.Name</p>
        </div>
    </div>
}